.button{
    background-color: rgb(9, 253, 9);
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border-color:rgb(9, 251, 9);
    

}
#reset{
    margin-right: 100px;
}
.btn{
    display: flex;
   
}
